html, body {
	margin:0;
	
}
body,a,p,.h {
 font-family:arial,sans-serif
}
#wrapper{
	max-width:1920px;
	max-height:925px;
}


#main{
	margin:10% auto;
	padding:5px;
	
}

#main form {
	margin-left: -20px;
}

#nav {
	text-align: right;
	padding: 19px;

}
#nav div {
	display: inline-block;
	padding-left: 10px;
}

.input {
	width: 600px;
}

#footer {
	position: relative;
	height: 82px;
	font-size: 15px;
	color: gray;
}
[type=text]{
	height: 27px;
	width: 500px;
	padding: 4px;
	border-color: gray;
	border-top-color: white;
	border-left-color: white; 
}

.button {
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
}

#text1 {
	font-size: 12px;
}

.traka {
	max-width: 1920px;
	background-color: #efefef;
	position: fixed;
    bottom: 0px;
    height: 41px;
}

.traka1 {
	max-width: 1920px;
	background-color: #efefef;
	position: fixed;
	height: 41px;
	bottom: 41px;

}
.traka1 div {
	width: 1920px;
	padding-top: 10px;
}


.traka div {
	width: 960px;
	display: inline-block;
}

#kms1 {
	float: left;
	padding-top: 10px;
	
}

#csi {
	float: right;
	text-align: right;
	padding-top: 10px;
}